@if(resultados.length){
                      <div>
                          @if(listTitle){
                            <h6>{{ listTitle }}</h6>
                          }
                          <ul>
                             @for (user of resultados; track $index) {
                                       <li (click)="clickLi?.(user)">{{ user.userName }} ({{ user.email }})
                                          @if(btn){
                                            <button mat-button color="accent" (click)="btn(user)">Agregar</button>
                                          }
                                       </li>
                             }
                            
                          </ul>
                     </div>
               }