<div class="home-layout" [class.chat-open]="usuarioSeleccionado!==null">
  <app-menu class="menu"
    [restore]="restore"
    [isMobile]="isMobile"
    [contraer]="contraer">
  </app-menu>

  <app-barra-lateral
    class="sidebar"
    [usuarioSeleccionado]="onUsuarioSeleccionado"
    [usuarioSeleccionadoParaNuevoChat]="onUsuarioSeleccionadoParaNuevoChat"
    [chats]="chats"
    [currentBtnMenu]="currentBtnMenu"
    [clickNuevoMsg]="clickNuevoMsg"
    [clickAddContact]="clickAddContact"
    [resultadosNewChat]="resultadosNewChat"
    [idDelChat]="idDelChat">
  </app-barra-lateral>

  <app-chat
    class="chat"
    [usuarioReceptor]="usuarioSeleccionado"
    [mensajes]="mensajes"
    [idDelChat]="idDelChat">
  </app-chat>
</div>
