<div class="home-layout">
  <app-menu class="menu"></app-menu>

  <app-barra-lateral
    class="sidebar"
    [usuarioSeleccionado]="onUsuarioSeleccionado"
    [usuarioSeleccionadoParaNuevoChat]="onUsuarioSeleccionadoParaNuevoChat"
    [chats]="chats"
    [currentBtnMenu]="currentBtnMenu"
    [clickNuevoMsg]="clickNuevoMsg"
    [clickAddContact]="clickAddContact"
    [resultadosNewChat]="resultadosNewChat"
    [idDelChat]="idDelChat">
  </app-barra-lateral>

  <app-chat
    class="chat"
    [usuarioReceptor]="usuarioSeleccionado"
    [mensajes]="mensajes"
    [idDelChat]="idDelChat">
  </app-chat>
</div>
