
<div>
  <ul>
     @for (chat of chats; track $index) {
      <li (click)="clickLi?.(chat)" [ngClass]="{'chat-no-leido': !chat.isRead,
                                                            'chat-leido': chat.isRead
  }">
        <div class="row">  
            <div class="col">
                <div>
                   <img  draggable="false" [src]="chat.otroUsuario.avatar ? chat.otroUsuario.avatar : 'img/avatarDefault.jpg'" />
               </div>
               <div>
                   <span>{{ chat.otroUsuario.userName }}</span>
               </div> 
               <div>
                   <span>{{ chat.ultimoMensaje?.contenido}}</span>
               </div> 
               <div>
                   <span>{{ chat.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
               </div>
            </div>
            @if(chat.isRead===false){     
                <div class="col d-flex align-items-center justify-content-end position-relative">
                  <span class="p-2 bg-success border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                  </span>
                </div>
            }
        </div>     
      </li>
     }
    
  </ul>
</div>
               