<div class="chat-container">


    <div class="chat-messages" #scrollContainer>

      @for (mensaje of mensajes; track $index) {

        <div
          class="mensaje"
          [ngClass]="mensaje.emisorId == authService.userId
            ? 'mensaje-propio'
            : 'mensaje-ajeno'"
        >
          <div class="burbuja">
            <span class="texto">
              {{ mensaje.contenido }}
            </span>

            <span class="hora">
              {{ mensaje.createdAt | date:'HH:mm' }}
            </span>
          </div>
        </div>

      }

    </div>
  

</div>
